html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container_header {
  width: 100%;
  background: #EEEFF1;
  min-height: 700px;
}

.header {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.first_header_top {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.fsh_logo {
  margin-left: 50px;
  max-width: 96px;
  max-height: 60px;
  font-family: "Revalia";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #34547A;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.burger_menu {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

#menu_toogle {
  position: absolute;
  left: -9999999px;
  opacity: 0;
  visibility: hidden;
}

.menu_btn {
  margin-right: 50px;
  display: block;
  height: 16px;
  width: 26px;
  position: relative;
  cursor: pointer;
}

.menu_btn span,
.menu_btn::before,
.menu_btn::after {
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  background: #34547A;
  border-radius: 2px;
}

.menu_btn::before,
.menu_btn::after {
  content: "";
}

.menu_btn::before {
  top: 0;
}

.menu_btn span {
  top: 7px;
}

.menu_btn::after {
  bottom: 0;
}

.fsh_link:hover {
  cursor: pointer;
  color: #000000;
  transition: color 0.5s ease-in-out;
}

#menu_toogle:checked+.menu_btn span {
  opacity: 0;
}

#menu_toogle:checked+.menu_btn::before {
  transition: transform .5s ease-in-out;
  transform: rotate(45deg);
  top: 7px;
}

#menu_toogle:checked+.menu_btn::after {
  transform: rotate(-45deg);
  bottom: 7px;
}

#menu_toogle:checked~.fsh_navlist {
  transition: opacity .5s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.fsh_navlist {
  position: absolute;
  visibility: hidden;
  margin: 0;
  margin-left: 50px;
  top: 70%;
  left: 0;
  right: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
  opacity: 0;
}

.fsh_item {
  margin: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #34547A;
}

.fsh_link {
  color: #34547A;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.first_header_bottom {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.header_bottom_right {
  margin: 20px 70px;
  width: 50%;
}

.header_bottom_left {
  width: 50%;
  margin: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.first_screen_block1 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg {
  width: 357px;
  height: auto;
}

.first_screen_block2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.second_button {
  margin: 50px 0;
}

.button_link {
  text-decoration: none;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: color 0.25s ease-in-out;
}

.first_button,
.second_button {
  text-align: center;
  text-transform: uppercase;
  background-color: #34547A;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  padding: 20px 35px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.button_link:hover {
  cursor: pointer;
  color: #070707;
  transition: color 0.25s ease-in-out;
}

.about_me_first,
.work_text_first,
.first_input_sentence,
.first_sentence {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 27px;
  line-height: 100%;
  word-spacing: 0.35em;
  color: #000000;
  text-align: center;
  line-height: 1.5em;
}

.about_me_second,
.work_text_second,
.second_input_sentence,
.first_text {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.first_sentence {
  text-align: left;
  margin-bottom: 60px;
  font-size: 48px;
  width: 540px;
}

.first_text {
  margin-bottom: 60px;
  width: 540px;
  height: 67px;
  text-align: start;
}

.about_me {
  width: 100%;
  min-height: 366px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about_me_first {
  margin-top: 120px;
}

.about_me_second {
  margin-bottom: 100px;
  max-width: 540px;
  max-height: 67px;
  display: flex;
  align-self: center;
}

.main_header {
  padding: 100px 0;
  width: 100%;
  height: auto;
  background-color: #34547A;
}

.main_header_list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.numbers_link {
  max-width: 141px;
  max-height: 50px;
  margin: 40px;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.section-skill {
  padding: 100px 0;
}

.skill-row {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-col {
  width: 50%;
  padding: 0 75px;
}

.skill-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-link {
  margin: 5px;
}

.skill-bg {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 85%;
}

.section-header {
  padding-bottom: 25px;
}

.section-header,
.title {
  font-size: 32px;
  line-height: 1.18;
  font-weight: 500;
  margin: 0 0 25px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37.5px;
  line-height: 100%;
  vertical-align: top;
  color: #000000;
}

.skill-title {
  text-transform: capitalize;
  color: #727272;
  font-size: 16px;
  line-height: 1.6;
  display: block;
  margin-bottom: 20px;
}

.skills-item:not(:last-child) {
  margin-bottom: 30px;
}

.skill-wrap {
  position: relative;
  height: 4px;
  background: #c4c4c4;
}

.skill {
  background: #34547a;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.work_demonstration {
  width: 100%;
  min-height: auto;
  background-color: #EEEFF1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_text {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work_text_first {
  margin: 100px 0 20px;
  max-width: 400px;
  display: flex;
  align-self: center;
}

.work_text_second {
  margin-bottom: 50px;
}

.work_video {
  max-width: 100%;
  width: 1200px;
  margin: 10px 150px 100px;
}

.video {
  max-width: 1110px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button_play {
  position: absolute;
}

.button_play:hover {
  cursor: pointer;
}

.projects {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.projects_top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.projects_bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image {
  width: 480px;
  height: auto;
  display: flex;
}

.image1 {
  width: 480px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image2 {
  display: block;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.image2:hover {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.image2:hover+.eye {
  z-index: -1;
  transition: z-index 0.1s linear;
}

.eye {
  z-index: 999;
  transition: z-index 0.1s linear;
}

.footer {
  max-width: 100%;
}

.logo {
  margin: 72px 0 100px;
  max-width: 100%;
  min-height: 120px;
}

.img_logo_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.img_logo {
  margin: 0 40px 0 0;
  padding: 0;
  width: 255px;
  height: 120px;
}

.section_input_form {
  width: 100%;
  min-height: 762px;
  background-color: #EEEFF1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_input_text {
  max-width: 100%;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.first_input_sentence {
  max-width: 100%;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.textarea {
  margin: 0;
  padding: 0;
  width: 33.3%;
  height: 50%;
  text-align: center;
}

.textarea_top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 3.5em;
}

.textarea_top_left,
.textarea_top_right {
  width: 50%;
}

.textarea3 {
  width: 95%;
  line-height: 1.5em;
  border: 0;
  padding-top: 17px;
}

.textarea1,
.textarea2 {
  width: 90%;
  line-height: 0.35em;
  padding-top: 20px;
}

.textarea1,
.textarea2,
.textarea3 {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  padding-left: 17px;
  border: none;
  resize: none;
  clear: none;
}

.footer_section {
  max-width: 100%;
  min-height: 151px;
  background-color: #34547A;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_container {
  max-width: 100%;
  min-width: 75%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.author {
  max-width: 100%;
  margin: 30px;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.rights {
  margin: 0;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1px;
}

.last_logo {
  max-width: 100%;
  margin: 30px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.last_logo_link {
  padding-right: 30px;
}

@media(min-width:320px) and (max-width:1200px) {
  .fsh_navlist {
    background: #EEEFF1;
    text-align: center;
  }

  .eye {
    width: 23%;
  }

  .textarea {
    width: 100%;
  }

  .video {
    margin-left: 0;
  }

}

@media(min-width:1200px) {

  .menu_btn {
    display: none;
  }

  .fsh_item {
    padding-bottom: 0;
  }

  .fsh_navlist {
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
    position: static;
  }

  .fsh_item+.fsh_item {
    padding-left: 15px;
  }
}

@media(min-width:768px) and (max-width:1199px) {

  .header_bottom_left {
    width: 100%;
    margin: 60px 60px 0 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .first_screen_block1 {
    max-width: 500px;
  }

  .first_screen_block2 {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first_header_bottom {
    width: 100%;
    margin: 3%;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .header_bottom_right {
    margin: 70px 90px 70px 0;
  }

  .first_sentence,
  .first_text {
    text-align: center;
  }

  .first_button {
    margin-bottom: 50px;
  }

  .author {
    padding-left: 50px;
  }

  .last_logo {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .last_logo_link {
    padding-right: 10px;
  }

  .numbers_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer_container {
    max-width: 100%;
    min-width: 75%;
  }

  .numbers_link {
    margin: 30px;
  }
}

@media(max-width:1140px) {
  .nl1 {
    display: none;
  }
}

@media(min-width:320px) and (max-width:767px) {
  .first_screen {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #EEEFF1;
  }

  .first_header_bottom {
    max-width: 100%;
    margin: 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header_bottom_left {
    min-width: 75%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }

  .first_screen_block1 {
    width: 100%;
  }

  .header_bottom_right {
    width: 100%;
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .first_screen_block2 {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .first_sentence {
    width: 100%;
    margin-bottom: 60px;
    display: block;
    text-align: center;
  }

  .first_text {
    margin-bottom: 100px;
    width: 100%;
    min-height: 70px;
    text-align: center;
  }

  .first_button {
    padding: 25px 41px;
    font-size: 16px;
  }

  .first_header_top {
    max-width: 100%;
    margin: 0 50px;
  }

  .author {
    padding-left: 50px;
  }

  .about_me_second,
  .work_text_second,
  .second_input_sentence {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
  }

  .skill-col,
  .skills-link,
  .title {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }

  .section-skill {
    padding-bottom: 0;
  }

  .skill-title {
    font-size: 20px;
  }

  .skills-link {
    margin-top: 5px;
  }

  .skill-text {
    text-align: center;
  }

  .skill-bg {
    margin-top: 50px;
  }

  .video {
    width: 100%;
  }

  .footer_container {
    max-width: 100%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .last_logo {
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 59px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }

  .author {
    vertical-align: middle;
    text-align: center;
    padding-left: 50px;
  }

  .name {
    padding: 10px 10px;
    margin-left: 22px;
  }

  .rights {
    padding-right: 24px;
  }

  .numbers_link {
    margin: 30px;
  }

  .nl2 {
    display: none;
  }
}